<div class="container py-5">
  <form action="/restaurants" method="POST">
    <div class="form-group">
      <label for="name">餐廳名稱 :</label>
      <input type="text" placeholder="請輸入餐廳名稱..." name="name">
      <button type="submit">新增</button>
    </div>
  </form>
</div>